
:root {
  --primary: #4f46e5;
  --dark: #4fcbed;
  --light: #f9fafb;
  --gray: #6b7280;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: var(--light);
  color: var(--dark);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background: white;
}

.links {
  
  display: flex;
  gap: 40px;
}

.links a {
  text-decoration: none;
  color: var(--dark);
  transition: color 0.5;
}

.links a:hover {
  color: var(--primary);
}

.hero {
  text-align: center;
  padding: 40px 25px;
}

.hero-title {
  font-size: 40px;
   animation: slideUp 1s ease-out;
 
}

.hero-text {
  margin: 1rem 0;
  color: var(--gray);
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background: var(--primary);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: transform 0.3s;
}

.btn:hover {
  transform: scale(1.05);
  
}


.features {
  display: flex;
  gap: 1.5rem;
  padding: 3rem 2rem;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.03);
  
}


.pricing {
  display: flex;
  gap: 1.5rem;
  padding: 3rem 2rem;
  flex-wrap: wrap;
}

.price-card {
  flex: 1;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
 
}

.price-card:hover {
  transform: scale(1.05);
 
}

.price {
  font-size: 2rem;
  color: var(--primary);
  margin: 1rem 0;
}


/* Footer */
.footer {
  text-align: center;
  padding: 2rem;
  background: white;
  font-size: 0.9rem;
  color: var(--gray);
}

/* Animation */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .features,
  .pricing {
    flex-direction: column;
  }

  .hero-title {
    font-size: 2rem;
  }
}